search equiqment denmision on Google/search_kich_thuoc.json
{
  "name": "search_kích_thuioc",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "80a568b6-d330-4b8c-b0f2-94872bc6c4fc",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "affacc93-dbac-4603-a9c0-b3035e1c8b2c",
              "name": "id_sheet",
              "value": "12WXaX4J3rxz8cijSwV5TA_x3Ch8Sh4MEacBRDTO1KF8",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        0
      ],
      "id": "34a03da7-74dd-43e4-be33-c3720c17b040",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $json.id_sheet }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Trang tính1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1g7FhqpIfqewI9wLxKMV6okgCYLN8eZHkLU5KIRePVvE/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Kích thước"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        440,
        0
      ],
      "id": "7cfa011e-fa0b-4402-b8fe-5777d223f586",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lwtfwCmTBg4lm7hg",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Lấy dữ liệu HTML từ node HTTP Request2\nconst html = $node[\"HTTP Request\"].json[\"data\"] || \"\";\n\n// Ghi log HTML (giới hạn 1000 ký tự)\nconsole.log(\"Product Code:\", $node[\"Google Sheets\"].json[\"Mô tả sản phẩm\"] || \"Unknown\");\nconsole.log(\"HTML:\", html.substring(0, 1000));\n\n// Danh sách các regex để thử\nconst regexes = [\n  // Định dạng: (W) 36mm x (H) 81mm x (D) 66.5mm\n  /\\(W\\)\\s*(\\d+\\.?\\d*mm)\\s*x\\s*\\(H\\)\\s*(\\d+\\.?\\d*mm)\\s*x\\s*\\(D\\)\\s*(\\d+\\.?\\d*mm)/,\n  // Định dạng: 36mm x 81mm x 66.5mm\n  /(\\d+\\.?\\d*mm)\\s*x\\s*(\\d+\\.?\\d*mm)\\s*x\\s*(\\d+\\.?\\d*mm)/,\n  // Định dạng: Width: 18mm, Height: 90mm, Depth: 70mm\n  /Width:\\s*(\\d+\\.?\\d*mm)\\s*,?\\s*Height:\\s*(\\d+\\.?\\d*mm)\\s*,?\\s*Depth:\\s*(\\d+\\.?\\d*mm)/i,\n  // Định dạng: 36 x 85 x 68 mm\n  /(\\d+\\.?\\d*\\s*x\\s*\\d+\\.?\\d*\\s*x\\s*\\d+\\.?\\d*\\s*mm)/,\n  // Định dạng: W:36mm H:81mm D:66.5mm\n  /W:(\\d+\\.?\\d*mm)\\s*H:(\\d+\\.?\\d*mm)\\s*D:(\\d+\\.?\\d*mm)/i\n];\n\n// Thử từng regex\nlet dimensions = \"Không tìm thấy\";\nfor (const regex of regexes) {\n  const match = html.match(regex);\n  if (match) {\n    dimensions = match[1] + \" x \" + match[2] + \" x \" + match[3];\n    break;\n  }\n}\n\n// Ghi log kết quả\nconsole.log(\"Dimensions:\", dimensions);\n\n// Trả về kết quả\nreturn [{\n  json: {\n    product_code: $node[\"Google Sheets\"].json[\"Mô tả sản phẩm\"] || \"Unknown\",\n    manufacturer: $node[\"Google Sheets\"].json[\"Hãng\"] || \"Unknown\",\n    dimensions: dimensions\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        220
      ],
      "id": "22fc77a6-811b-4dd0-86dc-dcbb39df5fc8",
      "name": "Code1"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "=12WXaX4J3rxz8cijSwV5TA_x3Ch8Sh4MEacBRDTO1KF8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Trang tính1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12WXaX4J3rxz8cijSwV5TA_x3Ch8Sh4MEacBRDTO1KF8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Mô tả sản phẩm": "={{ $json.product_code }}",
            "Kích thước (Output)": "={{ $json.dimensions }}"
          },
          "matchingColumns": [
            "Mô tả sản phẩm"
          ],
          "schema": [
            {
              "id": "Mã thiết bị",
              "displayName": "Mã thiết bị",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Mô tả sản phẩm",
              "displayName": "Mô tả sản phẩm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Hãng sản xuất",
              "displayName": "Hãng sản xuất",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Kích thước (Output)",
              "displayName": "Kích thước (Output)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        720,
        220
      ],
      "id": "be89ab54-adef-48a6-ade0-99514b024eea",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lwtfwCmTBg4lm7hg",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const results = $node[\"HTTP Request1\"].json[\"items\"] || [];\nconsole.log(\"Search Results:\", results);\n\n// Danh sách các domain của các hãng\nconst validDomains = [\n  \"se.com\",           // Schneider Electric\n  \"siemens.com\",      // Siemens\n  \"abb.com\",          // ABB\n  \"legrand.com\",      /// Legrand\n  \"codienhaiau.com\"\n  // Thêm các domain khác nếu cần\n];\n\n// Chọn URL từ domain hợp lệ\nconst urls = results\n  .map(item => item.link)\n  .filter(link => validDomains.some(domain => link.includes(domain)))\n  .slice(0, 1); // Lấy URL đầu tiên\n\nconsole.log(\"Selected URL:\", urls);\nreturn urls.map(url => ({ json: { url } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        220
      ],
      "id": "4d9d3ffd-c1e6-43ef-a335-bdf76765863b",
      "name": "Code"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36"
            },
            {
              "name": "Accept",
              "value": "text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=0.8"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          },
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        380,
        220
      ],
      "id": "2f19b765-7fa8-4d99-81b0-dccfb133b859",
      "name": "HTTP Request"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        640,
        0
      ],
      "id": "e54e6789-d705-4130-a0b2-ad393028040d",
      "name": "Limit"
    },
    {
      "parameters": {
        "url": "=https://www.googleapis.com/customsearch/v1?key=AIzaSyATKg0W6JQntTEdPqcosm-SGgBNqmI1sFk&cx=e759f4cca28274f6c&q={{ $json['Hãng'] }}+{{ $json[\"Mô tả sản phẩm\"] }}+dimensions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          },
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        220
      ],
      "id": "2466e079-1e7a-44bd-b3e0-04aaf53dbe94",
      "name": "HTTP Request1"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        []
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0d68e93f-d954-4da0-ae5e-6901403b2fa9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cc18735aefda8a09008f693b61ff4376f651ad1ef69c0d04c44d62c1c22c17b4"
  },
  "id": "gDaiYX33nilouIc5",
  "tags": []
}
